.special-section{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(./images/banner.jpg) lightgray 50%;
    background-size: cover;
    padding: 60px 20px;
}
.special-section h2{
    text-align: center;
    color:white;
    margin-bottom: 20px;
}
.special-container{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.special-item{
    background: white;
    color: #333;
    padding: 20px;
    border-radius: 12px;
    max-width: 300px;
    text-align: center;
}